<app-search
  [searchTerm]="roomsStore.searchTerm()"
  (updateSearchTerm)="roomsStore.setSearchTerm($event.target.value)"
/>

<!-- <app-filters
  [guestCapacity]="guestCapacity()"
  (onGuestCapacityChange)="guestCapacity.set($event)"
  [beds]="beds()"
  (onBedsChange)="beds.set($event)"
  [board]="board()"
  (onBoardChange)="board.set($event)"
  [view]="view()"
  (onViewChange)="view.set($event)"
  [parking]="parking()"
  (onParkingChange)="parking.set($event)"
  [pricePerNightFrom]="pricePerNightFrom()"
  (onPricePerNightFromChange)="pricePerNightFrom.set($event)"
  [pricePerNightTo]="pricePerNightTo()"
  (onPricePerNightToChange)="pricePerNightTo.set($event)"
  [hasAirConditioning]="hasAirConditioning()"
  (onHasAirConditioningChange)="hasAirConditioning.set($event)"
  [isPetFriendly]="isPetFriendly()"
  (onIsPetFriendlyChange)="isPetFriendly.set($event)"
/> -->

<app-loader [isLoading]="roomsStore.isLoading()" />

<app-rooms [rooms]="roomsStore.rooms()" />

<mat-paginator
  [length]="roomsStore.total()"
  [pageSize]="roomsStore.pageSize()"
  [pageSizeOptions]="[5, 10, 25, 50]"
  aria-label="Select page"
  (page)="roomsStore.setPageSize($event.pageSize); 
  roomsStore.setPage($event.pageIndex)"
/>
