<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      required
      type="email"
      formControlName="email"
    />
    @if (!loginForm.get("email")?.valid) {
      <mat-error>Value required</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      placeholder="Pas$w0rd"
      required
      type="password"
      formControlName="password"
    />
    @if (!loginForm.get("password")?.valid) {
      <mat-error>Value required</mat-error>
    }
  </mat-form-field>

  <button mat-flat-button>Login</button>

  <p>You don't have an account? Click <a routerLink="/register">here</a>!</p>
</form>
