.card {
  max-width: 400px;
  height: 560px;
  color: white;
}

mat-card-title {
  font-size: 16px;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 14px;
  font-weight: normal;
  color: gray;
}

mat-card-content > p {
  font-size: 14px;
  padding: 5px 0;
  color: darkslategray;
}

.card-image {
  overflow: hidden;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-actions {
  gap: 5px;
  flex-wrap: wrap;
}
