<div class="ticket-panel">
  <div class="panel-controls">
    <button (click)="filterTicketsByStatus(ticketStatus.NEW)">NEW</button>
    <button (click)="filterTicketsByStatus(ticketStatus.IN_PROGRESS)">
      IN PROGRESS
    </button>
    <button (click)="filterTicketsByStatus(ticketStatus.DONE)">DONE</button>
    <button (click)="filteredTickets.set(ticketList())">RESET</button>
  </div>
  <div class="panel-container">
    <div class="ticket-list">
      @for (ticket of filteredTickets(); track ticket.id) {
        <app-ticket [ticket]="ticket" (ticketOutput)="onTicketSelect($event)" />
      }
    </div>
    <!-- Signals can have their values set directly in the template without the need of method wrappers -->
    <app-ticket-details
      *ngIf="isDetailsShown()"
      [selectedTicket]="selectedTicket()"
      (hideOutput)="isDetailsShown.set(false)"
    />
  </div>
</div>

<!-- <button (click)="toggleTitleShown()">Toggle title</button>
@if (isTitleShown()) {
  <h1>I need to be hidden</h1>
} -->
<!-- <h1 *ngIf="isTitleShown()">I need to be hidden</h1> -->
<!-- <ul>
  <li *ngFor="let ticket of filteredTickets(); let i = index">
    {{ ticket.title }}, index: {{ i }}
  </li>
</ul>
<ul>
  @for (ticket of filteredTickets(); track ticket.id; let i = $index) {
    <li>{{ ticket.title }}</li>
  }
</ul> -->
