.panel-container {
  display: flex;
}

.panel-controls {
  display: flex;
  gap: 10px;

  > button {
    min-width: 100px;
    transition: 0.15s;
    border: 1px solid lightgray;
    padding: 5px 0;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

.lightblue-bg {
  background-color: lightblue;
}

