<table 
  mat-table
  [dataSource]="roomsStore.rooms()"
>
  <ng-container matColumnDef="name" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >Name</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="pricePerNight" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >Price per night</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.pricePerNight }}
    </td>
  </ng-container>
  <ng-container matColumnDef="beds" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >Beds</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.beds }}
    </td>
  </ng-container>
  <ng-container matColumnDef="extraBeds" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >Extra beds</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.extraBeds }}
    </td>
  </ng-container>
  <ng-container matColumnDef="baths" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >Baths</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.baths }}
    </td>
  </ng-container>
  <ng-container matColumnDef="guestCapacity" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >Guest capacity</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.guestCapcity }}
    </td>
  </ng-container>
  <ng-container matColumnDef="view" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >View</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.view }}
    </td>
  </ng-container>
  <ng-container matColumnDef="parking" >
    <th
      mat-header-cell
      *matHeaderCellDef
    >Parking</th>
    <td
      mat-cell
      *matCellDef="let element"
    >
    {{ element.parking }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="roomsStore.total()"
  [pageSize]="roomsStore.pageSize()"
  [pageSizeOptions]="[5, 10, 25, 50]"
  (page)="roomsStore.setPageSize($event.pageSize); 
  roomsStore.setPage($event.pageIndex)"
/>
