<nav>
  <ul>
    <li>
      <!-- [routerLinkActiveOptions]="{ exact: true }" will make the route ACTIVE only if route is:  localhost:4200 -->
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>

    <li>
      <a routerLink="/rooms" routerLinkActive="active">Rooms</a>
    </li>

    <li>
      <a routerLink="/guests" routerLinkActive="active">Guests</a>
    </li>

    <li>
      @if (isLoggedIn()) {
        <span>Hello {{ currentUser().email }}</span>
        <span (click)="logout()">Logout</span>
      } @else {
        <a routerLink="/login">Login</a>
      }
    </li>
  </ul>
</nav>
