main {
  min-height: 800px;
  background: url("/images/film-bg-2.jpg") 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  padding: 50px;
}
