.home {
  display: grid;
  padding-top: 50px;
  padding-left: 50px;

  h1 {
    font-size: 60px;
    color: black;
    font-weight: 300;
    color: #7b1f20;
    margin: 0;
    width: 400px;
  }

  p {
    color: #ecf0f1;
    font-size: 20px;
    width: 700px;
  }
}
