.user {
  border: 2px solid #2d3436;
  padding: 15px;
  width: 450px;
  margin: 10px;
  background-color: #dfe6e9;
  border-radius: 4px;

  .user-header {
    display: flex;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 2px solid #2d3436;

    .user-id {
      font-size: 45px;
      margin: 0 20px 0 10px;
    }
  }

  .address-container {
    > h3 {
      cursor: pointer;
    }
    > h3:hover {
      color: darkgray;
    }
  }
}
