form {
  background-color: #e6ecde;
  padding: 30px 30px;
  border-radius: 4px;

  width: fit-content;
  .form-group {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

    textarea {
      resize: none;
    }

    label {
      font-size: 1.3rem;
      padding-left: 10px;
    }

    input {
      border: 2px solid transparent;
    }

    textarea {
      border: 2px solid transparent;
    }

    input.ng-touched.ng-invalid {
      border: 2px solid rgb(203, 0, 0);
    }

    textarea.ng-touched.ng-invalid {
      border: 2px solid rgb(203, 0, 0);
    }

    .form-input {
      font-family: "Nunito", sans-serif;
      font-size: 1.3rem;
      border-radius: 4px;
      margin: 5px 0px;
      padding: 10px;
      border: none;
      box-shadow: 0 10px 20px #d0d3ca, 0 6px 6px #d0d3ca;
    }
  }

  .control-error {
    margin: 0;
    padding-bottom: 10px;
    color: rgb(203, 0, 0);
  }

  .form-controls {
    display: flex;
    justify-content: center;
  }

  .form-error {
    text-align: center;
    color: rgb(203, 0, 0);
    font-size: 20px;
    padding-bottom: 20px;
  }
}

.radio {
  appearance: none;
  transition: 0.1s;
  border-radius: 50%;

  &:hover {
    background-color: #8a95a5;
  }
}

.radio:checked {
  &::after {
    background-color: #090c08;
    color: #e6ecde;
    border: none;
  }
}

.radio::after {
  content: attr(number);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
  border: 2px solid black;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.radio-container {
  display: flex;
  gap: 5px;
}
