/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./assets/scss/variables";
@import "./assets/scss/forms";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--bg-gray);
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #090c08;
  margin: 15px;
  padding: 30px;

  h2 {
    margin: 0;
  }
}
