@if(selectedReview()) {
<section class="container">
  <div class="review-details">
    <div class="details-poster">
      <img [src]="selectedReview().poster" alt="Poster of the movie" />
    </div>
    <div class="details-info">
      <div class="info-heading">
        <div>
          <h3>
            {{ selectedReview().title }}
            <span>{{ selectedReview().year }}</span>
          </h3>
          <div class="genres">
            @for(genre of genresArr(); track genre) {
            <span>{{ genre }}</span>
            }
          </div>
        </div>
        <h3>
          {{ selectedReview().rating }} / 10 <i class="fa-solid fa-star"></i>
        </h3>
      </div>
      <div class="info-body">
        <p>
          {{ selectedReview().text }}
        </p>
        <div class="info-footer">
          <em>
            by
            {{ selectedReview().user.firstName }}
            {{ selectedReview().user.lastName }}
          </em>

          <div class="likes-dislikes-panel">
            <div>
              <i class="fa-regular fa-thumbs-up"></i>
              {{ selectedReview().likes.length }}
            </div>
            <div>
              <i class="fa-regular fa-thumbs-down"></i>
              {{ selectedReview().dislikes.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container comments">
  <h2>Comments</h2>
  <app-comment-form (commentOutput)="onAddComment($event)" />
  @if(comments().length) {
  <app-comments-list [comments]="comments()" />
  @if(maxPages() !== currentPage() && maxPages() > 1) {
  <app-button (btnClick)="onLoadmore()" text="Load More" />
  } } @else {
  <h3>No Comments Yet</h3>
  }
</section>

}
